/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;

}

:root {
  --bg-color: #dfd2d2;
  --snd-bg-color: #d5fdf9;
  --text-color: #000;
  --main-color: #007f73;
}
body{
  background: var(--bg-color);
}
/* :root{
  --bg-color: #000000;
  
  --text-color: #fff;
  --main-color: #0a84ff;
} */


a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */


/* SECTIONS */


/* PROFILE SECTION */




.section__text__p1 {
  text-align: center;
  margin-top: 6rem;
}


.title {
  font-size: 3rem;
  text-align: center;
  color: var(--main-color);
  margin: 2rem ;
}


/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: white;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  color: wheat;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  /* box-shadow: 0 0 25px var(--main-color), 0 0 35px var(--main-color), 0 0 45px var(--main-color); */
  background: wheat;
color: black;
transition: 0.3s ease;
}



.btn-color-1:hover {
  /* box-shadow: 0 0 25px var(--main-color), 0 0 35px var(--main-color), 0 0 45px var(--main-color); */
  background: wheat;
color: black;
transition: 0.3s ease;
}

.btn-color-2 {
  background: var(--main-color);
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */




.details-container {
width: 60%;
  padding: 1.5rem;
  flex: 1;
  background: rgb(133, 116, 116);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}




/* EXPERIENCE SECTION */


.experience-sub-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-sub-title project-title h2 {
  color: var(--main-color);
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;

}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}
.article-container img{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}
article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  height: auto;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--text-color);
}

.project-btn {
  color: var(--bg-color);
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

@media screen and (max-width: 1400px) {



  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {


  .experience-details-container {
    margin-top: 2rem;
  }




}

@media screen and (max-width: 600px) {

  article {
    font-size: 1rem;
  }


  .btn-container {
    flex-wrap: wrap;
  }


  .experience-sub-title {
    font-size: 1.25rem;
  }



  .title {
    font-size: 2rem;
  }

}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background: var(--main-color);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}


/* home section code */
.navbar a {
  font-size: 1.3rem;
  color: var(--bg-color);
  margin-left: 4rem;
  font-weight: 700;
  transition: 0.3s ease;
  font-family: 'Lato';
  text-decoration: none;

}

.navbar a:hover,
.navbar a:active {
  color: var(--text-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--bg-color);
  display: none;
}

@media(max-width:991px) {

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }

  .navbar a {
    display: block;
    padding: 17px;
    font-size: 20px;
  }

  .navbar.active {
    right: 0;
  }
}

@media(max-width:991px) {

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }

  .navbar a {
    display: block;
    padding: 17px;
    font-size: 22px;
  }

  .navbar.active {
    right: 0;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;

  }

  .home-img img {
    width: 70vw;
    margin-top: 8rem;
  }

  #menu-icon {
    display: block;
    padding-top: 1rem;
    padding-right: 1rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }

  .navbar a {
    display: block;
    padding: 17px;
    font-size: 20px;
  }

  .navbar.active {
    right: 0;
  }
  
    .experience-details-container {
      flex-direction: column; /* Stack the projects vertically */
      align-items: center; /* Center align in vertical mode */
  }
  .details-container{
    width: 90%;
  }
}
