*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;

}
body{
    background: #081b29;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.header,h3 ,h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
span{
    color: yellow;
    font-weight: bold;
}
.moving-text {
  display: inline-block;
  white-space: nowrap;
  animation: moveRightToLeft 5s linear infinite;
  position: relative; /* Ensure it can move relative to its container */
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%); /* Start off-screen from the right */
    opacity: 0; /* Invisible at the start */
  }
  10% {
    opacity: 1; /* Fully visible as it starts entering */
  }
  90% {
    opacity: 1; /* Fully visible while in the viewport */
  }
  100% {
    transform: translateX(-100%); /* Move off-screen to the left */
    opacity: 0; /* Invisible again */
  }
}
  
p{
    color: aquamarine;
    margin-top: 2rem;
}
h3 {
    font-size: 24px;
    color: antiquewhite;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  h3:active {
    transform: scale(1.1);
  }
  p:active {
    transform: scale(1.1);
  }
  h3:hover {
    color: #007BFF; /* Change the color on hover */
    transform: scale(1.1); /* Slightly enlarge the heading */
  }
  
  p {
    font-size: 16px;
    color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  p:hover {
    transform: translateY(-10px); /* Move the paragraph slightly upwards */
    opacity: 0.8; /* Make it slightly transparent */
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#081b29;
    animation: fadeIn 1.5s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
@media only screen and (max-width: 600px) {
    .header ,h3,h2{
        font-size: 30px;
        transition: color 0.3s ease, transform 0.3s ease;
      
    }
    p{
        font-size: 15px;
    }
}